# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# VSCode settings
.vscode/

# PyCharm
.idea/

# macOS files
.DS_Store

# Python egg files
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage

# env files
.env

# celery beat schedule file
celerybeat-schedule

# Pycharm log files
*.log